name = "graffiti"
compatibility_date = "2025-10-06"
main = "worker/src/index.ts"

[assets]
directory = "web/dist"
binding = "ASSETS"
run_worker_first = ["/api/*"]

[[d1_databases]]
binding = "DB"
database_name = "graffiti-db"
database_id = "f3b55f39-1d30-4d26-b6e0-acabe3814cd3"

[observability]
enabled = true
