name = "graffiti"
compatibility_date = "2025-12-26"
main = "worker/index.ts"

[[d1_databases]]
binding = "DB"
database_name = "graffiti-db"
database_id = "53d812bd-b0f4-41fa-a144-55b67e0fd759"

[[r2_buckets]]
binding = "STORAGE"
bucket_name = "graffiti-bucket"

[vars]
BASE_HOST = "graffiti.actor"

[[routes]]
pattern = "*graffiti.actor/*"
zone_name = "graffiti.actor"

[assets]
directory = "web/dist"
binding = "ASSETS"
run_worker_first = ["/", "/app/*", "/s/*", "/i/*", "/docs", "/openapi.json", "/oauth2-redirect.html"]

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
head_sampling_rate = 1
persist = true
