name = "graffiti"
compatibility_date = "2025-10-06"
main = "worker/src/index.ts"

[assets]
directory = "web/dist"
binding = "ASSETS"
run_worker_first = ["/", "/api/*"]

[[d1_databases]]
binding = "DB"
database_name = "graffiti-db"
database_id = "17573271-a739-4f0b-ac63-41c8a0650093"

[observability]
enabled = true
