name = "graffiti"
compatibility_date = "2025-12-26"
main = "worker/index.ts"

[[d1_databases]]
binding = "DB"
database_name = "graffiti-db"
database_id = "cc3d977a-c3b9-43f2-aab6-3386e3324614"

[[r2_buckets]]
binding = "STORAGE"
bucket_name = "graffiti-bucket"

[vars]
BASE_HOST = "graffiti.actor"

[[routes]]
pattern = "*graffiti.actor/*"
zone_name = "graffiti.actor"

[assets]
directory = "web/dist"
binding = "ASSETS"
run_worker_first = ["/app/*", "/s/*", "/i/*", "/.well-known/*"]

[observability]
enabled = true
head_sampling_rate = 1
